<p>home works!</p>
<html>
        <div class="row">
            <div class="col-sm-4">.col-sm-1
             <figure class="figure">
                <img src="assets/5.jpg" class="figure-img img-fluid rounded" alt="..." height ="800px" width="800 px">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
        </div>
            <div class="col-sm-4">.col-sm-2
              <figure class="figure">
                <img src="assets/3.jpg" class="figure-img img-fluid rounded" alt="..." height ="800px" width="800 px">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
        </div>
            <div class="col-sm-4">.col-sm-3
              <figure class="figure">
                <img src="assets/6.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
             </figure>
          </div>
    </div>

     <div class="row">
        <div class="col-sm-4">.col-sm-4
          <figure class="figure">
            <img src="assets/10.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
         </figure>
        </div>
        <div class="col-sm-4">.col-sm-5
          <figure class="figure">
            <img src="assets/4.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
         </figure>
        </div>
        <div class="col-sm-4">.col-sm-6
          <figure class="figure">
            <img src="assets/13.jpg" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
         </figure>
        </div>
      </div>

    <div class="row">
       <div class="col-sm-4">.col-sm-7
        <figure class="figure">
          <img src="assets/7.jpg" class="figure-img img-fluid rounded" alt="..." height ="800px" width="800 px">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
       </div>
       <div class="col-sm-4">.col-sm-8
        <figure class="figure">
          <img src="assets/8.jpg" class="figure-img img-fluid rounded" alt="..." height ="800px" width="800 px">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
       </div>
      <div class="col-sm-4">.col-sm-9
        <figure class="figure">
          <img src="assets/14.jpg" class="figure-img img-fluid rounded" alt="..." height ="800px" width="800 px">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      </div>
    </div>
  </html>

 