<!-- <p>lion works!</p> -->
<div class="container">
    <h3> child to parent relation.</h3>
    <p> lion is child component </p>
   <p>{{ message}}</p>
   
        <button (click)="fireEvent()"> Send Event</button>
</div>
---------------------------------------------------------
<div class="container">
    <p>OutEvent message</p>
    <p>{{data}}</p>
    <button (click)="Event()"> Send Event</button>
</div>
---------------------------------------------------------
<!-- <div class="container">
    <p>outEvent acceptResult</p>
    <p> {{res}} </p>
    <button (click)="outEvent()">Acc_Result </button>
</div> -->