
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/photos" href="#">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/calculation" href="#">Calculation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/binding" href="#">Binding</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/directives" href="#">Directives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/world" href="#">World</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/america" href="#">America</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/asia" href="#">Asia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/animal" href="#">Animal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tiger" href="#">Tiger</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lion" href="#">Lion </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/state" href="#">State</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pune" href="#">Pune</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nagpur" href="#">Nagpur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/google" href="#">Google</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/facebook" href="#">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/twitter" href="#">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


 <router-outlet></router-outlet>

<!-- <app-home></app-home> 
<app-photos></app-photos>
<router-outlet></router-outlet> -->
 